<!DOCTYPE html>
<html>
  <head>
    <title>Project Lucille</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='lucille.js')}}"></script>
  </head>
  <body>
    <div class="jumbotron">
        <h1>Project Lucille</h1>
        <h2>Enter your username below:</h>
        <form id="get_projects">
            <input type="text" id='user_id' />
            <input type="submit"/>
        </form>
    </div>
    <div id="projects" style="display:none;"></div>

  </body>
</html>
